@page
@model ChatModel
@{
    ViewData["Title"] = "Chat";
}

<div class="alert alert-primary text-center fw-bold">
    <h3 class="display-4">Chat</h3>
</div>

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="input-group">
            <input type="text" id="messageInput" class="form-control" placeholder="Enter your message">
            <button class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
        <ul id="messagesList" class="chatList"></ul>
    }
</div>


