    @page
    @model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-primary text-center fw-bold">
    <h1 class="display-4">Welcome to signalR Demo</h1>
</div>

<div class="text-center">
    <img src="~/img/signalR.png" class="w-25 h-25" asp-append-version="true" />
</div>
